In [1]:
strategies=['Rock','Paper','Scissors', 'Spock', 'Lizard']

In [38]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Spock','Spock'):(0,0),
        ('Spock','Paper'):(0,1),
        ('Paper','Spock'):(1,0),
        ('Spock','Rock'):(1,0),
        ('Rock','Spock'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Lizard','Lizard'):(0,0),
        ('Lizard','Paper'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Rock','Lizard'):(1,0)}

In [39]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [40]:
from random import choice

#simples: choose randomly
choice(strategies)

'Rock'

In [41]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [42]:
Players

[{'name': 'John', 'score': 0, 'strategy': 'Spock'},
 {'name': 'Mary', 'score': 0, 'strategy': 'Spock'}]

In [44]:
Players[0]['strategy'],Players[1]['strategy']

('Spock', 'Spock')

In [45]:
# social result of individual decision
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

(0, 0)

In [46]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [47]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      0    Spock
1  Mary      0    Spock

In [48]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

   name  score strategy
0  John      0    Spock
1  Mary      0    Spock

In [49]:
# names of players
names=['Jim','Jane','Peter','Zoe']

In [50]:
# setting up players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [51]:
# each player a dict:
society

[{'name': 'Jim', 'score': 0, 'strategy': None},
 {'name': 'Jane', 'score': 0, 'strategy': None},
 {'name': 'Peter', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None}]

In [52]:
import itertools 

# pair is a tuple of dicts
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Jane', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jim', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Peter', 'score': 0, 'strategy': None})
({'name': 'Jane', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Peter', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})

In [53]:
import itertools 

# each dict
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Jane', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jim', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Peter', 'score': 0, 'strategy': None}
{'name': 'Jane', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Peter', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}

In [54]:
# resetting society
society=[{'name':n,'score':0,'strategy':None} for n in names]

# several rounds
for aRound in range(100):
    
    # en each round:
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from strategy chosen
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [55]:
# final situation
society

[{'name': 'Jim', 'score': 137, 'strategy': 'Paper'},
 {'name': 'Jane', 'score': 122, 'strategy': 'Lizard'},
 {'name': 'Peter', 'score': 106, 'strategy': 'Scissors'},
 {'name': 'Zoe', 'score': 117, 'strategy': 'Paper'}]

In [56]:
# as a data frame
socialResults=pd.DataFrame(society)
socialResults

    name  score  strategy
0    Jim    137     Paper
1   Jane    122    Lizard
2  Peter    106  Scissors
3    Zoe    117     Paper

In [57]:
winnerScore=socialResults.score.max()

#social outcome
socialResults[socialResults.score==winnerScore]

  name  score strategy
0  Jim    137    Paper